<div class='banner' style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/tatigrassi/image/upload/v1565880200/masks_landing/playmobil_banner_kvjncg.jpg);">
    <%= simple_form_for [@mask] do |f| %>
      <% if @mask.errors.any? %>
        <div class="errors-container">
          <ul>
            <% @mask.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <%= f.input :name, wrapper_html: {class: 'custom-form-control'}, label_html: {class: 'custom-form-control-label'}, input_html: { class: "custom-form-control-input"} %>
      <%= f.input :price, wrapper_html: {class: 'custom-form-control'}, label_html: {class: 'custom-form-control-label'}, input_html: { class: "custom-form-control-input"} %>
      <%= f.input :mood, wrapper_html: {class: 'custom-form-control'}, label_html: {class: 'custom-form-control-label'}, input_html: { class: "custom-form-control-input"} %>
      <%= f.input :location, wrapper_html: {class: 'custom-form-control'}, label_html: {class: 'custom-form-control-label'}, input_html: { class: "custom-form-control-input"} %>
      <%= f.input :photo, wrapper_html: {class: 'custom-form-control'}, label_html: {class: 'custom-form-control-label'}, input_html: { class: "custom-form-control-input"} %>
      <%= f.input :photo_cache, as: :hidden %>
      <%= f.submit "GIVE", class: "nav-link" %>
    <% end %>
</div>
