
<h1 style="text-align: center; margin-top: 50px;"><%= @mask.name  %></h1>
<br>
<br>

<div class="main-show-container">

  <div class="faggot">
    <div class="photo-and-infos-card">
      <div class="inner-photo">
        <%= cl_image_tag @mask.photo %>
      </div>
    </div>
    <br>
    <div class="inner-info">
      <p> Mood: <em style="color: white"><%= @mask.mood %></em> </p>
      <p> Price: <em style="color: white"><%= @mask.price %></em> $</p>
    </div>
  </div>

  <div class="book-and-map">
    <div class="inner-booking">
      <div class="show-review-booking">
        <div class="show-booking">
          Book your shit
          <br>
          <br>
          <%= render "shared/booking", mask: @mask, booking: @booking %>
        </div>
      </div>
      <div class="booking-container">
        <ul style="list-style: none">
          <% @mask.bookings.each do |booking| %>
            <li> this mask if booked from <%=(booking.startdate) %> to <%=booking.enddate%></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div>
    <div class="show-review" style="width: 400px">
        Review your shit
        <br>
        <br>
        <%= render "shared/review", mask: @mask, review: @review %>
    </div>

    <div class="reviews-container">
      <ul style="list-style: none">
        <% @mask.reviews.each do |review| %>
          <li><%= "â­"*(review.rating) %> - <%=review.content%> | by <%= review.user.email %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="map-wrapper">
  <div class=arrow></div>
    <div class="inner-map">
      <div id="map" style="width: 100%; height: 200px; border-radius: 20px;"
        data-markers="<%= @marker.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
          >
      </div>
    </div>
</div>
