<% if current_user.bookings.map(&:mask).include?(@mask) %>
  <p>Nop</p>
<% else  %>
    <%= @booking.errors.full_messages.to_sentence %>
    <%= simple_form_for [@mask, @booking] do |f| %>
    <%= f.input :startdate, as: :date, html5: true, wrapper_html: {class: 'custom-form-control'}, label_html: {class: 'custom-form-control-label'}, input_html: { class: "custom-form-control-input"} %>
    <%= f.input :enddate, as: :date, html5: true, wrapper_html: {class: 'custom-form-control'}, label_html: {class: 'custom-form-control-label'}, input_html: { class: "custom-form-control-input"} %>
    <%= f.submit "submit", class: "nav-link" %>
    <% end %>
<% end %>
